* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

/* Header Styles */
.header-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo img {
    mix-blend-mode: darken;
    width: 150px;
    height: auto;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.search input {
    width: 100%;
    padding: 10px 20px 10px 40px;
    /* Padding left for the icon */
    border: 2px solid #ccc;
    border-radius: 50px;
    outline: none;
    transition: box-shadow 0.3s, border-color 0.3s;
}

.search input::placeholder {
    color: #aaa;
}

.search:hover input {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: #3498db;
}

.search i {
    position: absolute;
    left: 10px;
    color: #aaa;
    font-size: 16px;
}

.user-options a {
    color: #333;
    margin-left: 20px;
    text-decoration: none;
}

.user-options a:hover {
    text-decoration: underline;
}

/* Navigation Styles */
.nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #ecf0f1;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav a {
    display: block;
    padding: 10px 10px;
    color: #333;
    margin: 5px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #3498db;
    color: #fff;
    border-radius: 10px;
}

/* Main Styles */
.main {
    padding: 20px;
    text-align: center;
}

.sliceshow {
    height: 350px;
    width: 90%;
    background-color: #bdc3c7;
    margin: 20px auto;
    border-radius: 10px;
}

.product-grid {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
    text-align: center;
}

.book-item {
    display: inline-block;
    width: 18%;
    min-width: 200px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
}

.book-item img {
    max-width: 100%;
    border-radius: 5px;
}

.book-item h3 {
    margin: 10px 0;
    color: #2c3e50;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-item p {
    margin: 5px 0;
    color: #7f8c8d;

}

.add-to-cart {
    padding: 10px 20px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.add-to-cart:hover {
    background: #2980b9;
}

/* Banner Style */
.section-banner {
    width: 85%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.section-banner img {
    width: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.section-banner img:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-banner::before {
    content: "";
    display: block;
}


/* Footer Styles */
footer {
    background: #ecf0f1;
    color: #333;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #bdc3c7;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    color: #2c3e50;
}

.footer-social a {
    color: #2c3e50;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #3498db;
}

.footer-newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-newsletter input,
.footer-newsletter button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

.footer-newsletter button {
    background: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

.footer-newsletter button:hover {
    background: #2980b9;
}

.footer-navigation ul {
    list-style: none;
    padding: 0;
}

.footer-navigation ul li {
    margin: 5px 0;
}

.footer-navigation ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-navigation ul li a:hover {
    color: #3498db;
}

.footer-contact p {
    margin: 5px 0;
    color: #7f8c8d;
}

.footer-bottom {
    margin-top: 20px;
    color: #7f8c8d;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}