* {
    box-sizing: border-box;
}

.row {
    margin: 2px auto;
    background-color: rgb(147, 242, 180);
    width: 100%;
    min-height: 10px;
    border: 1px black solid;
}

.container {
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(57, 147, 226);
}

.logo {
    width: 20%;
    height: 100px;
    background-color: blue;
}

.search {
    width: 30%;
    display: flex;
}

.search input {
    outline: none;
    width: 100%;
}

.search i {
    float: right;
}

.user-options {
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.user-options a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.user-options a:hover {
    background-color: #ddd;
}

.nav {
    background-color: rgb(251, 178, 178);
    width: 100%;
    margin-top: 10px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px
}

.nav a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s
}

.nav a:hover {
    background-color: #ddd;
}

/* main page */
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sliceshow {
    height: 350px;
    width: 90%;
    background-color: rosybrown;
    margin: 20px 0;
}

.product {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Chia đều thành 5 cột */
    gap: 2rem;
}


.book-item {
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    text-align: center;
}

.book-item img {
    max-width: 100%;
    border-radius: 5px;
}

.book-item h3 {
    margin: 1rem 0 0.5rem;
}

.book-item p {
    margin: 0.5rem 0;
}

.add-to-cart {
    padding: 0.5rem 1rem;
    background: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background: #e5533c;
}